<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3rc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,305}</string>
                <key>spriteSourceSize</key>
                <string>{240,305}</string>
                <key>textureRect</key>
                <string>{{476,964},{240,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3rc_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,305}</string>
                <key>spriteSourceSize</key>
                <string>{240,305}</string>
                <key>textureRect</key>
                <string>{{62,1556},{240,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,197}</string>
                <key>spriteSourceSize</key>
                <string>{493,197}</string>
                <key>textureRect</key>
                <string>{{277,636},{493,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,197}</string>
                <key>spriteSourceSize</key>
                <string>{493,197}</string>
                <key>textureRect</key>
                <string>{{479,205},{493,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{1245,70}</string>
                <key>spriteSourceSize</key>
                <string>{1245,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{1245,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>erc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,306}</string>
                <key>spriteSourceSize</key>
                <string>{250,306}</string>
                <key>textureRect</key>
                <string>{{479,404},{250,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>erc_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,306}</string>
                <key>spriteSourceSize</key>
                <string>{250,306}</string>
                <key>textureRect</key>
                <string>{{476,656},{250,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,52}</string>
                <key>spriteSourceSize</key>
                <string>{98,54}</string>
                <key>textureRect</key>
                <string>{{107,1798},{98,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,52}</string>
                <key>spriteSourceSize</key>
                <string>{98,54}</string>
                <key>textureRect</key>
                <string>{{207,1798},{98,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,54}</string>
                <key>spriteSourceSize</key>
                <string>{94,54}</string>
                <key>textureRect</key>
                <string>{{787,1418},{94,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,54}</string>
                <key>spriteSourceSize</key>
                <string>{94,54}</string>
                <key>textureRect</key>
                <string>{{853,1727},{94,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{404,633}</string>
                <key>spriteSourceSize</key>
                <string>{412,643}</string>
                <key>textureRect</key>
                <string>{{73,1},{404,633}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{167,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{783,964},{167,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbc_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{787,404},{169,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,202}</string>
                <key>spriteSourceSize</key>
                <string>{493,202}</string>
                <key>textureRect</key>
                <string>{{73,636},{493,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jr_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,202}</string>
                <key>spriteSourceSize</key>
                <string>{493,202}</string>
                <key>textureRect</key>
                <string>{{479,1},{493,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lrc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,306}</string>
                <key>spriteSourceSize</key>
                <string>{239,306}</string>
                <key>textureRect</key>
                <string>{{728,656},{239,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lrc_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,306}</string>
                <key>spriteSourceSize</key>
                <string>{239,306}</string>
                <key>textureRect</key>
                <string>{{62,1248},{239,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,61}</string>
                <key>spriteSourceSize</key>
                <string>{118,61}</string>
                <key>textureRect</key>
                <string>{{787,580},{118,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,61}</string>
                <key>spriteSourceSize</key>
                <string>{118,61}</string>
                <key>textureRect</key>
                <string>{{843,1442},{118,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,79}</string>
                <key>spriteSourceSize</key>
                <string>{149,79}</string>
                <key>textureRect</key>
                <string>{{884,1140},{149,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sc_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,79}</string>
                <key>spriteSourceSize</key>
                <string>{149,79}</string>
                <key>textureRect</key>
                <string>{{884,1291},{149,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,305}</string>
                <key>spriteSourceSize</key>
                <string>{240,305}</string>
                <key>textureRect</key>
                <string>{{369,1545},{240,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>src_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,305}</string>
                <key>spriteSourceSize</key>
                <string>{240,305}</string>
                <key>textureRect</key>
                <string>{{611,1514},{240,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,54}</string>
                <key>spriteSourceSize</key>
                <string>{115,54}</string>
                <key>textureRect</key>
                <string>{{853,1505},{101,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{99,54}</string>
                <key>spriteSourceSize</key>
                <string>{115,54}</string>
                <key>textureRect</key>
                <string>{{853,1561},{99,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,104}</string>
                <key>spriteSourceSize</key>
                <string>{334,104}</string>
                <key>textureRect</key>
                <string>{{73,1131},{334,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-guangboxiaoxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,59}</string>
                <key>spriteSourceSize</key>
                <string>{510,59}</string>
                <key>textureRect</key>
                <string>{{1,1248},{510,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui-jiahao-anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{907,580},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-jiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{853,1783},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui-zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,95}</string>
                <key>spriteSourceSize</key>
                <string>{276,95}</string>
                <key>textureRect</key>
                <string>{{787,1140},{276,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{108,45}</string>
                <key>spriteSourceSize</key>
                <string>{108,49}</string>
                <key>textureRect</key>
                <string>{{853,1617},{108,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wf_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{108,45}</string>
                <key>spriteSourceSize</key>
                <string>{108,49}</string>
                <key>textureRect</key>
                <string>{{900,1617},{108,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wrc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,306}</string>
                <key>spriteSourceSize</key>
                <string>{240,306}</string>
                <key>textureRect</key>
                <string>{{303,1237},{240,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wrc_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,306}</string>
                <key>spriteSourceSize</key>
                <string>{240,306}</string>
                <key>textureRect</key>
                <string>{{545,1206},{240,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,52}</string>
                <key>spriteSourceSize</key>
                <string>{104,52}</string>
                <key>textureRect</key>
                <string>{{409,1131},{104,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xx_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,52}</string>
                <key>spriteSourceSize</key>
                <string>{104,52}</string>
                <key>textureRect</key>
                <string>{{1,1798},{104,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_src.png</string>
            <key>size</key>
            <string>{973,1851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:684ef424805e824b12ed88c6a79c351f:e3db8cee16a84721bce5aae6e60c9fa1:8da662a0dba201b820cac75505e25036$</string>
            <key>textureFileName</key>
            <string>hall_src.png</string>
        </dict>
    </dict>
</plist>
