<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Quit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,256},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>Btn_Quit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,147},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,625},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>btn_add_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,566},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>btn_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,977},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,433},{423,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,143}}</string>
                <key>sourceSize</key>
                <string>{423,143}</string>
            </dict>
            <key>createroom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,846},{409,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,129}}</string>
                <key>sourceSize</key>
                <string>{409,129}</string>
            </dict>
            <key>createrroom_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{425,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,143}}</string>
                <key>sourceSize</key>
                <string>{425,143}</string>
            </dict>
            <key>dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,147},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,977},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>dian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,977},{59,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,18}}</string>
                <key>sourceSize</key>
                <string>{59,18}</string>
            </dict>
            <key>dian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,387},{79,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,18}}</string>
                <key>sourceSize</key>
                <string>{79,18}</string>
            </dict>
            <key>dian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,286},{99,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,18}}</string>
                <key>sourceSize</key>
                <string>{99,18}</string>
            </dict>
            <key>dian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,167},{117,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dt_login_weixin_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,468},{334,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,96}}</string>
                <key>sourceSize</key>
                <string>{334,96}</string>
            </dict>
            <key>dt_login_weixin_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,468},{334,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,96}}</string>
                <key>sourceSize</key>
                <string>{334,96}</string>
            </dict>
            <key>img.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,742},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>join_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{429,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,143}}</string>
                <key>sourceSize</key>
                <string>{429,143}</string>
            </dict>
            <key>join_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,433},{411,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,127}}</string>
                <key>sourceSize</key>
                <string>{411,127}</string>
            </dict>
            <key>join_game_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{427,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,143}}</string>
                <key>sourceSize</key>
                <string>{427,143}</string>
            </dict>
            <key>mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,918},{92,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,97}}</string>
                <key>sourceSize</key>
                <string>{92,97}</string>
            </dict>
            <key>mail_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,742},{92,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,97}}</string>
                <key>sourceSize</key>
                <string>{92,97}</string>
            </dict>
            <key>return_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{429,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,143}}</string>
                <key>sourceSize</key>
                <string>{429,143}</string>
            </dict>
            <key>return_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,433},{411,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,129}}</string>
                <key>sourceSize</key>
                <string>{411,129}</string>
            </dict>
            <key>return_game_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{429,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,143}}</string>
                <key>sourceSize</key>
                <string>{429,143}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>setting_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,654},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>share_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,566},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,830},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>wanfa_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,742},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>xieyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,977},{209,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,43}}</string>
                <key>sourceSize</key>
                <string>{209,43}</string>
            </dict>
            <key>zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,654},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>zhanji_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,566},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,566},{221,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,61}}</string>
                <key>sourceSize</key>
                <string>{221,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fde922468822e7c15ede504b81e804fc$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
