<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,84}</string>
                <key>spriteSourceSize</key>
                <string>{252,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_naozhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{1,592},{83,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teshi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,38}</string>
                <key>spriteSourceSize</key>
                <string>{106,38}</string>
                <key>textureRect</key>
                <string>{{92,470},{106,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teshi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,38}</string>
                <key>spriteSourceSize</key>
                <string>{108,38}</string>
                <key>textureRect</key>
                <string>{{132,248},{108,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teshi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,38}</string>
                <key>spriteSourceSize</key>
                <string>{109,38}</string>
                <key>textureRect</key>
                <string>{{92,248},{109,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teshi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,38}</string>
                <key>spriteSourceSize</key>
                <string>{143,38}</string>
                <key>textureRect</key>
                <string>{{52,401},{143,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teshi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,38}</string>
                <key>spriteSourceSize</key>
                <string>{144,38}</string>
                <key>textureRect</key>
                <string>{{208,1},{144,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teshi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,38}</string>
                <key>spriteSourceSize</key>
                <string>{144,38}</string>
                <key>textureRect</key>
                <string>{{52,255},{144,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teshi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,38}</string>
                <key>spriteSourceSize</key>
                <string>{106,38}</string>
                <key>textureRect</key>
                <string>{{132,358},{106,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teshi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,38}</string>
                <key>spriteSourceSize</key>
                <string>{73,38}</string>
                <key>textureRect</key>
                <string>{{211,147},{73,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_bipai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,49}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{1,255},{189,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_buqiangz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,49}</string>
                <key>spriteSourceSize</key>
                <string>{96,49}</string>
                <key>textureRect</key>
                <string>{{150,566},{96,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_chupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,49}</string>
                <key>spriteSourceSize</key>
                <string>{144,49}</string>
                <key>textureRect</key>
                <string>{{1,446},{144,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_danzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,38}</string>
                <key>spriteSourceSize</key>
                <string>{72,38}</string>
                <key>textureRect</key>
                <string>{{211,297},{72,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_duizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{172,236},{74,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_hulu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{172,312},{74,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_liangdui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,37}</string>
                <key>textureRect</key>
                <string>{{172,388},{74,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_qiangz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,49}</string>
                <key>spriteSourceSize</key>
                <string>{98,49}</string>
                <key>textureRect</key>
                <string>{{132,466},{98,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_quanleida.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,60}</string>
                <key>spriteSourceSize</key>
                <string>{168,60}</string>
                <key>textureRect</key>
                <string>{{87,1},{168,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{75,39}</string>
                <key>spriteSourceSize</key>
                <string>{89,43}</string>
                <key>textureRect</key>
                <string>{{87,171},{75,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_santiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{201,519},{74,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_shunzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,36}</string>
                <key>spriteSourceSize</key>
                <string>{76,36}</string>
                <key>textureRect</key>
                <string>{{166,158},{76,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_sitiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,38}</string>
                <key>spriteSourceSize</key>
                <string>{72,38}</string>
                <key>textureRect</key>
                <string>{{211,371},{72,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_teshupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,57}</string>
                <key>spriteSourceSize</key>
                <string>{155,57}</string>
                <key>textureRect</key>
                <string>{{149,1},{155,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_tiezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,38}</string>
                <key>spriteSourceSize</key>
                <string>{72,38}</string>
                <key>textureRect</key>
                <string>{{211,371},{72,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_tonghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,36}</string>
                <key>spriteSourceSize</key>
                <string>{75,36}</string>
                <key>textureRect</key>
                <string>{{128,171},{75,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_tonghuashun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,38}</string>
                <key>spriteSourceSize</key>
                <string>{109,38}</string>
                <key>textureRect</key>
                <string>{{92,359},{109,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,49}</string>
                <key>textureRect</key>
                <string>{{99,578},{97,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_wulong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,38}</string>
                <key>spriteSourceSize</key>
                <string>{72,38}</string>
                <key>textureRect</key>
                <string>{{211,445},{72,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>w_wutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,38}</string>
                <key>spriteSourceSize</key>
                <string>{73,38}</string>
                <key>textureRect</key>
                <string>{{211,222},{73,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PokerType_src1.png</string>
            <key>size</key>
            <string>{250,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ff0309d1d4acd3924f481ad235c2848:5ce2f003c32e925c3656a5070b4dce2e:6a15238be5a3159543a94cbf94e1e982$</string>
            <key>textureFileName</key>
            <string>PokerType_src1.png</string>
        </dict>
    </dict>
</plist>
