<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0x00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,0},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,158},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{805,158},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,316},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,316},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,474},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{805,474},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,632},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,632},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x0A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,0},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x0B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,0},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x0C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,0},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x0D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,0},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,632},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,632},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,632},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,632},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{690,632},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{805,632},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,790},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,790},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,790},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x1A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{690,0},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x1B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{805,0},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x1C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,158},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x1D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,158},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,790},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,790},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,790},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{690,790},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{805,790},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,948},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,948},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,948},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,948},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x2A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,158},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x2B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,158},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,158},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{690,158},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,948},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,948},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,157}</string>
                <key>spriteSourceSize</key>
                <string>{115,157}</string>
                <key>textureRect</key>
                <string>{{690,948},{115,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{805,948},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,1106},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,1106},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,1106},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,1106},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,1106},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x3A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,316},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x3B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,316},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,316},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,316},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,1106},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{690,1106},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{805,1106},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,1264},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,1264},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,1264},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,1264},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,1264},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,1264},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x5A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{690,316},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x5B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{805,316},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,474},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x5D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,474},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{690,1264},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{805,1264},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{0,1422},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{115,1422},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{230,1422},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,1422},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,1422},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,1422},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{690,1422},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x6A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{345,474},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x6B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{460,474},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{575,474},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0x6D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{690,474},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{920,1580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:996a6e821857b7bdd24ef006987d619c:f1ab45f1d508eca406b74214fe1a3843:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
