<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Kaishi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Btn_Kaishi_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Tip_Chuanjianzhuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,59}}</string>
                <key>sourceSize</key>
                <string>{205,59}</string>
            </dict>
            <key>Tip_Shiwan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,378},{107,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>Tip_Shiwan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{111,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>Tip_Wushiwan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,378},{168,39}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{186,39}</string>
            </dict>
            <key>Tip_Wushiwan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{172,39}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,39}}</string>
                <key>sourceSize</key>
                <string>{186,39}</string>
            </dict>
            <key>Tip_Wuwan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,460},{93,39}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>Tip_Wuwan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,330},{95,39}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>Tip_Yibaiwan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{184,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,39}}</string>
                <key>sourceSize</key>
                <string>{186,39}</string>
            </dict>
            <key>Tip_Yibaiwan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,190},{186,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,39}}</string>
                <key>sourceSize</key>
                <string>{186,39}</string>
            </dict>
            <key>Tip_Yiqianwan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{184,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,39}}</string>
                <key>sourceSize</key>
                <string>{186,39}</string>
            </dict>
            <key>Tip_Yiqianwan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{186,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,39}}</string>
                <key>sourceSize</key>
                <string>{186,39}</string>
            </dict>
            <key>Tip_Yiwan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,419},{93,39}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>Tip_Yiwan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{95,39}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creatTable.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba22943c59f73af58f70645b703727b9$</string>
            <key>textureFileName</key>
            <string>creatTable.png</string>
        </dict>
    </dict>
</plist>
