<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tip_2ren01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,920},{152,39}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_2ren02.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,797},{156,39}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_3ren01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,879},{152,39}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_3ren02.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,756},{156,39}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_4jun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,674},{164,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_4jun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,936},{166,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_4ren01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,838},{152,39}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_4ren02.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,715},{156,39}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_8jun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,633},{164,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_8jun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{166,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>Tip_Chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,560},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>Tip_bg_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{939,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{939,629}}</string>
                <key>sourceSize</key>
                <string>{939,629}</string>
            </dict>
            <key>Tip_chongjinji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{137,40}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{137,40}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_chongjinji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,936},{139,48}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_chongwaji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,977},{137,40}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{137,40}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_chongwaji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,936},{139,48}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_chongwuji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{137,40}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{137,40}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_chongwuji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,936},{139,48}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_chongyinji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,961},{137,40}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{137,40}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_chongyinji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,935},{139,48}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_close_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Tip_close_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Tip_fanshangxiaji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,935},{167,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{167,40}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_fanshangxiaji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,766},{167,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_jinji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{107,40}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,40}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_jinji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1069},{109,48}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_start_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,359},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Tip_start_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,158},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Tip_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{772,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,301}}</string>
                <key>sourceSize</key>
                <string>{772,301}</string>
            </dict>
            <key>Tip_waji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1119},{107,40}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,40}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_waji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1061},{109,48}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_wuji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1069},{107,40}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,40}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_wuji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1019},{109,48}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_yinji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1111},{107,40}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,40}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>Tip_yinji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,977},{109,48}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create_room_zymj.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9131eb3197f6edd59221ca3d9ef2e217$</string>
            <key>textureFileName</key>
            <string>create_room_zymj.png</string>
        </dict>
    </dict>
</plist>
