<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tip_G01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,452},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,302},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,152},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,152},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G09.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Tip_G11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play_rotation_defect_bg.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81cc15d76c63e7fa14bfcd245c8a7fdc$</string>
            <key>textureFileName</key>
            <string>play_rotation_defect_bg.png</string>
        </dict>
    </dict>
</plist>
