<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{495,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,34}}</string>
                <key>sourceSize</key>
                <string>{495,34}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,346},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>button_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,205},{199,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,80}}</string>
                <key>sourceSize</key>
                <string>{199,80}</string>
            </dict>
            <key>button_tuichu_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{201,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,80}}</string>
                <key>sourceSize</key>
                <string>{201,80}</string>
            </dict>
            <key>putonghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{190,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,54}}</string>
                <key>sourceSize</key>
                <string>{190,54}</string>
            </dict>
            <key>sheji.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,406},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{489,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,27}}</string>
                <key>sourceSize</key>
                <string>{489,27}</string>
            </dict>
            <key>yinpin.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,194},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>yinpinhuise.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,277},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,454},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,454},{81,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,37}}</string>
                <key>sourceSize</key>
                <string>{81,37}</string>
            </dict>
            <key>yuyan .png</key>
            <dict>
                <key>frame</key>
                <string>{{149,194},{81,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,36}}</string>
                <key>sourceSize</key>
                <string>{81,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_setting.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5552856d440889851f99045b38907836$</string>
            <key>textureFileName</key>
            <string>img_setting.png</string>
        </dict>
    </dict>
</plist>
