<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loding_jdt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{725,45}</string>
                <key>spriteSourceSize</key>
                <string>{725,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{725,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loding_jdt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,41}</string>
                <key>spriteSourceSize</key>
                <string>{717,41}</string>
                <key>textureRect</key>
                <string>{{1,48},{717,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loding_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{559,213}</string>
                <key>spriteSourceSize</key>
                <string>{563,215}</string>
                <key>textureRect</key>
                <string>{{191,91},{559,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wxdl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{227,93}</string>
                <key>spriteSourceSize</key>
                <string>{227,97}</string>
                <key>textureRect</key>
                <string>{{1,91},{227,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wxdl_anxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{227,93}</string>
                <key>spriteSourceSize</key>
                <string>{227,97}</string>
                <key>textureRect</key>
                <string>{{96,91},{227,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login_src.png</string>
            <key>size</key>
            <string>{751,319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd096974137008ee4bccf72879644a77:2f5bcaf9ff90807ee6bbdd1127fb54a8:a433d96b5c2b60c037c3120f74c221d4$</string>
            <key>textureFileName</key>
            <string>login_src.png</string>
        </dict>
    </dict>
</plist>
