<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_4ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,27},{101,39}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{101,39}}</string>
                <key>sourceSize</key>
                <string>{105,47}</string>
            </dict>
            <key>button_4ju_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,27},{103,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,47}}</string>
                <key>sourceSize</key>
                <string>{105,47}</string>
            </dict>
            <key>button_8ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,27},{101,39}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{101,39}}</string>
                <key>sourceSize</key>
                <string>{105,47}</string>
            </dict>
            <key>button_8ju_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{103,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,47}}</string>
                <key>sourceSize</key>
                <string>{105,47}</string>
            </dict>
            <key>danshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,134},{283,39}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{283,39}}</string>
                <key>sourceSize</key>
                <string>{283,47}</string>
            </dict>
            <key>danshu_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,134},{283,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,47}}</string>
                <key>sourceSize</key>
                <string>{283,47}</string>
            </dict>
            <key>jushuxuanz.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,134},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>shenqingjiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,50},{199,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,79}}</string>
                <key>sourceSize</key>
                <string>{199,79}</string>
            </dict>
            <key>shenqingjiesan_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{199,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,79}}</string>
                <key>sourceSize</key>
                <string>{199,79}</string>
            </dict>
            <key>shuangshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,134},{283,39}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{283,39}}</string>
                <key>sourceSize</key>
                <string>{283,47}</string>
            </dict>
            <key>shuangshu_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{283,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,47}}</string>
                <key>sourceSize</key>
                <string>{283,47}</string>
            </dict>
            <key>wanfadishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>xiaohao.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,50},{118,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,45}}</string>
                <key>sourceSize</key>
                <string>{118,45}</string>
            </dict>
            <key>zhushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,23}}</string>
                <key>sourceSize</key>
                <string>{469,23}</string>
            </dict>
            <key>zhushi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,27},{258,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,21}}</string>
                <key>sourceSize</key>
                <string>{258,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create_room_img.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a40b11abc51a355eada481321c7b1213$</string>
            <key>textureFileName</key>
            <string>create_room_img.png</string>
        </dict>
    </dict>
</plist>
