<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_4ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,468},{91,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{91,39}}</string>
                <key>sourceSize</key>
                <string>{105,51}</string>
            </dict>
            <key>button_4ju_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,186},{93,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,49}}</string>
                <key>sourceSize</key>
                <string>{105,61}</string>
            </dict>
            <key>button_8ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,426},{95,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{95,40}}</string>
                <key>sourceSize</key>
                <string>{105,52}</string>
            </dict>
            <key>button_8ju_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,281},{95,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{95,48}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>button_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{198,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,81}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>button_kaishi_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{200,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,81}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>chuanjianfangjian .png</key>
            <dict>
                <key>frame</key>
                <string>{{62,378},{178,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,46}}</string>
                <key>sourceSize</key>
                <string>{178,46}</string>
            </dict>
            <key>danshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{250,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{250,39}}</string>
                <key>sourceSize</key>
                <string>{264,47}</string>
            </dict>
            <key>danshu_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{250,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{250,48}}</string>
                <key>sourceSize</key>
                <string>{264,58}</string>
            </dict>
            <key>jushuxuanz.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,378},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>shuangshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{248,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{248,40}}</string>
                <key>sourceSize</key>
                <string>{264,48}</string>
            </dict>
            <key>shuangshu_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{250,49}}</string>
                <key>sourceSize</key>
                <string>{264,61}</string>
            </dict>
            <key>wanfadishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,426},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_create_room.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe9ecfb1e42b5ef601203fd2fd4fcd52$</string>
            <key>textureFileName</key>
            <string>img_create_room.png</string>
        </dict>
    </dict>
</plist>
