<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,95},{76,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,133}}</string>
                <key>sourceSize</key>
                <string>{76,133}</string>
            </dict>
            <key>dt_play_dating_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{234,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,67}}</string>
                <key>sourceSize</key>
                <string>{234,67}</string>
            </dict>
            <key>dt_play_dating_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,408},{234,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,67}}</string>
                <key>sourceSize</key>
                <string>{234,67}</string>
            </dict>
            <key>dt_play_fangjianhao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,28}}</string>
                <key>sourceSize</key>
                <string>{490,28}</string>
            </dict>
            <key>dt_play_jiesan_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{234,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,67}}</string>
                <key>sourceSize</key>
                <string>{234,67}</string>
            </dict>
            <key>dt_play_jiesan_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,339},{234,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,67}}</string>
                <key>sourceSize</key>
                <string>{234,67}</string>
            </dict>
            <key>dt_play_liaotian_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,771},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>dt_play_liaotian_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,713},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>dt_play_likai_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,897},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>dt_play_likai_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,827},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>dt_play_likai_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{234,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,67}}</string>
                <key>sourceSize</key>
                <string>{234,67}</string>
            </dict>
            <key>dt_play_likai_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,270},{234,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,67}}</string>
                <key>sourceSize</key>
                <string>{234,67}</string>
            </dict>
            <key>dt_play_setting_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>dt_play_setting_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>dt_play_shengyuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,176},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>dt_play_wanfabg.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,32},{142,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,56}}</string>
                <key>sourceSize</key>
                <string>{142,56}</string>
            </dict>
            <key>dt_play_yaoqing_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{234,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,67}}</string>
                <key>sourceSize</key>
                <string>{234,67}</string>
            </dict>
            <key>dt_play_yaoqing_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{234,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,67}}</string>
                <key>sourceSize</key>
                <string>{234,67}</string>
            </dict>
            <key>dt_play_yuanbaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,278},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>dt_play_yuyin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>dt_play_yuyin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,95},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>dt_play_zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,687},{98,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{98,82}</string>
            </dict>
            <key>dy_play_chi_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,595},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>dy_play_eat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,176},{234,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,92}}</string>
                <key>sourceSize</key>
                <string>{234,92}</string>
            </dict>
            <key>dy_play_gang_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,569},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>dy_play_guo_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dy_play_hu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,541},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>dy_play_peng_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>dy_play_ting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,477},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>fangjiandiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{445,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,61}}</string>
                <key>sourceSize</key>
                <string>{445,61}</string>
            </dict>
            <key>fangpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,659},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>hu_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,723},{74,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>toumingdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{241,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,99}}</string>
                <key>sourceSize</key>
                <string>{241,99}</string>
            </dict>
            <key>zimo_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,477},{133,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjhall.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d82e0846d259f6943ea5f0e1f87be6f0$</string>
            <key>textureFileName</key>
            <string>mjhall.png</string>
        </dict>
    </dict>
</plist>
