<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{495,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,28}}</string>
                <key>sourceSize</key>
                <string>{495,28}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{180,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,29}}</string>
                <key>sourceSize</key>
                <string>{180,29}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{178,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,29}}</string>
                <key>sourceSize</key>
                <string>{180,29}</string>
            </dict>
            <key>Btn_pyq_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,193},{159,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,169}}</string>
                <key>sourceSize</key>
                <string>{159,169}</string>
            </dict>
            <key>Btn_pyq_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,32},{159,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,169}}</string>
                <key>sourceSize</key>
                <string>{159,169}</string>
            </dict>
            <key>Btn_weixin_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,203},{159,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,169}}</string>
                <key>sourceSize</key>
                <string>{159,169}</string>
            </dict>
            <key>Btn_weixin_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,32},{159,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,169}}</string>
                <key>sourceSize</key>
                <string>{159,169}</string>
            </dict>
            <key>fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{129,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,46}}</string>
                <key>sourceSize</key>
                <string>{129,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ae335b9c5fec52a4499bbeb646f0590$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
