<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_autumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,488},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,386},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,308},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,308},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,308},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,809},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,668},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,527},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,386},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_bamboo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,245},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,206},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,206},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,206},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,206},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_character_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,206},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_character_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,104},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_character_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,104},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_character_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,104},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_character_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,104},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_chrysanthemum.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,104},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,809},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_dot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,668},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_dot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,527},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_dot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,386},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_dot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,245},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_dot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_dot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_dot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,629},{98,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_orchid.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_plum.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_wind_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_wind_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_wind_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_wind_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>M_winter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_my.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6bbaed46b716f9f5da88e5a02ed42a1$</string>
            <key>textureFileName</key>
            <string>Z_my.png</string>
        </dict>
    </dict>
</plist>
