<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_mj_b_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,143},{77,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,102}}</string>
                <key>sourceSize</key>
                <string>{77,102}</string>
            </dict>
            <key>e_mj_b_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,84},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>e_mj_b_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>e_mj_b_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,143},{77,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,102}}</string>
                <key>sourceSize</key>
                <string>{77,102}</string>
            </dict>
            <key>e_mj_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,43},{39,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,79}}</string>
                <key>sourceSize</key>
                <string>{39,79}</string>
            </dict>
            <key>e_mj_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{39,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,79}}</string>
                <key>sourceSize</key>
                <string>{39,79}</string>
            </dict>
            <key>e_mj_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,84},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>e_mj_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>e_mj_v_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjEmpty.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68f406c285645189587ed39880513a5d$</string>
            <key>textureFileName</key>
            <string>mjEmpty.png</string>
        </dict>
    </dict>
</plist>
