<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>bei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,437},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>bei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>bei4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,402},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,188}}</string>
                <key>sourceSize</key>
                <string>{264,188}</string>
            </dict>
            <key>dong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>dong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,402},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>dong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,472},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>dong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,472},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>nan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,380},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>nan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,457},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>nan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>nan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,421},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>shaizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,397},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>shaizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,435},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>shaizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,469},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>shaizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,402},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>shaizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,436},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>shaizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,472},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>shang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>shang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,216},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>xi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,433},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>xi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,430},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>xi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,216},{37,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,17}}</string>
                <key>sourceSize</key>
                <string>{37,17}</string>
            </dict>
            <key>xi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,468},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>xia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,109},{105,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,50}}</string>
                <key>sourceSize</key>
                <string>{105,50}</string>
            </dict>
            <key>xia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{105,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,50}}</string>
                <key>sourceSize</key>
                <string>{105,50}</string>
            </dict>
            <key>you1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,335},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>you2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>zuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,316},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>zuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,268},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuanpan.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b6bd6a2fd026b2fbcbbe12ca671ca6d$</string>
            <key>textureFileName</key>
            <string>zhuanpan.png</string>
        </dict>
    </dict>
</plist>
