<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Zuoxia_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,74},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Btn_Zuoxia_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Tip_Guizediban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{782,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{782,303}}</string>
                <key>sourceSize</key>
                <string>{782,303}</string>
            </dict>
            <key>Tip_Iddiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,79}}</string>
                <key>sourceSize</key>
                <string>{306,79}</string>
            </dict>
            <key>Tip_Wanfaguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{205,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,59}}</string>
                <key>sourceSize</key>
                <string>{205,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seatTable.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e29d51b32d77241c33acaca1643734e9$</string>
            <key>textureFileName</key>
            <string>seatTable.png</string>
        </dict>
    </dict>
</plist>
