<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Huodong1_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,146},{218,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,70}}</string>
                <key>sourceSize</key>
                <string>{218,70}</string>
            </dict>
            <key>Btn_Huodong1_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,218},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Btn_Huodong2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,74},{218,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,70}}</string>
                <key>sourceSize</key>
                <string>{218,70}</string>
            </dict>
            <key>Btn_Huodong2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,207},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Btn_Huodong3_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{218,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,70}}</string>
                <key>sourceSize</key>
                <string>{218,70}</string>
            </dict>
            <key>Btn_Huodong3_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,135},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Btn_Huodong4_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{218,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,70}}</string>
                <key>sourceSize</key>
                <string>{218,70}</string>
            </dict>
            <key>Btn_Huodong4_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,63},{199,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,70}}</string>
                <key>sourceSize</key>
                <string>{199,70}</string>
            </dict>
            <key>Tip_Huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{202,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{202,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>Tip_Xiaodiban01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{202,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,453}}</string>
                <key>sourceSize</key>
                <string>{202,453}</string>
            </dict>
            <key>Tip_Xiaodiban02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,453}}</string>
                <key>sourceSize</key>
                <string>{592,453}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99120d20701febfe002f2dc3d21116cc$</string>
            <key>textureFileName</key>
            <string>activity.png</string>
        </dict>
    </dict>
</plist>
